.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px; 
    margin-bottom: 50px; 
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}